* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: "Lato", sans-serif;
    font-size: 15px;
}

.heading {
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: 400;
    margin: 10px 0;
    
}

.row {
    margin-left: -8px;
    margin-right: -8px; 
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.col {
    float: left;    
    padding-left: 8px;
    padding-right: 8px;
}

.col-half {
    width: 50%;
}

.col-thirt {
    width: 33.33333%;
}

.col-full {
    width: 100%;
}

.mt-8 {
    margin-top: 8px !important;
}

.mt-16 {
    margin-top: 16px !important;
}

.pull-right {
    float: right !important;
}


.test {
    margin: 15px;
}

.btn {
    padding: 11px 16px;
    margin-bottom: 16px;
    display:inline-block;
    margin-top: 15px;
    background-color: #000;
    color: #fff;
    
    text-decoration: none;
    border: none;
}
.btn:hover {
    background-color: #ccc;
    color: #000;
    cursor: pointer;
}


#header {
    background-color: #000;
    height: 46px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    
}

#nav {
    display: inline-block;
}

#nav li {
    display: inline-block;
    position: relative;
}

#nav > li > a {
    text-transform: uppercase;
    color: #fff;

}

#nav li a {
    text-decoration: none;
    display: block;
    padding: 0 24px;
    line-height: 46px;
}

#nav .connav li:hover ,
#nav > li:hover > a {
    color: #000;
    background-color: #ccc;
    cursor: pointer;
}

#nav .connav a {
    color: #000;
    line-height: 22px;
    padding: 8px 16px;
    

}

.connav li {
    width: 100%;
}

#nav .connav {
    position: absolute;
    min-width: 160px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: none;
}

#nav li:hover .connav {
    display: block;
}

#nav .nut-arrow {
    font-size: 12px;
}

#header .mobile-menu {
    position: absolute;
    top: 0;
    right: 0;
}

#header .mobile-menu,
#header .search-but {
    float: right;
    line-height: 46px;
    padding: 0 23px;
    
}

#header .mobile-menu:hover,
#header .search-but:hover {
    background-color: #f44336;
    cursor: pointer;
    
}

#header .menu-icon,
#header .nut-search {
    color: #fff;
    
}

#slider {
    position: relative;
    
    margin-top: 46px;
    padding-top: 50%;
    background: url(/w3_bandweb/assets/img/slider/slider1.jpg) top center / cover no-repeat ;
}

#slider .phan-slider {
    position: absolute;
    bottom: 32px;
    width: 100%;
    text-align: center;    
    color: #fff
}

#slider .text-heading {
    font-size: 24px;
}

#slider .text-conheading {
    margin: 15px 0;
    font-weight: bold;
    line-height: 1.5;
}

#content .khung-content {
    max-width: 100%;
    width: 800px;
    padding: 64px 16px ;
    margin-left: auto;
    margin-right: auto;  
    text-align: center;
    overflow: hidden;
}

#content .content-heading {
    text-align: center;
    font-size: 30px;
    letter-spacing: 4px;
    
}

#content .content-subheading {
    margin: 15px 0;
    text-align: center;
    font-size: 15px;
    font-style: italic;
    opacity: 0.5;
}

#content .theband-text {
    font-size: 15px;
    text-align: justify;
    margin: 15px 0;
    line-height: 1.5;
}

#content .member-list {
    padding: 32px 0; 
    
}

#content .member-sublist {
    width: 33.3333333%;
    text-align: center;
    float: left;
}

#content .member-name{
    font-size: 15px;
    margin: 15px 0;
}

#content .member-image {
    width: 154px;
    border-radius: 4px;
    padding-bottom: 32px;
}

.tour-section {
    background-color: #000;
    padding-bottom: 38px;
}

.text-white {
    color: #fff !important;
}

.tickets-list {
    background-color: #fff;
    margin-top: 40px;
    list-style: none;
}

.tickets-list li {
    text-align: left;
    padding: 8px 16px;
    line-height: 1.5;
    color: #757575;
    border-bottom: 1px solid #ddd;
}

.tickets-list .sold-out {
    color: #fff;
    background-color: #f44336;
    margin-left: 16px;
    padding: 3px 8px;
}

.tickets-list .remain {
    float: right;
    background-color: #000;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    text-align: center;
    color: #fff;
    margin-right: 16px;
    line-height: 24px;
}

.tourdate-list {
    margin: 32px -8px 0;
}

.tourdate-item {
    float: left;
    padding: 0px 8px;
    
    
}

.tourdate-body {
    background-color: #fff;
    text-align: left;
    line-height: 1.5;
    width: 100%;
    display: inline-block
    
}

.tourdate-img {
    width: 100%;
    display:block;
}

.tourdate-img:hover {
    opacity: 0.6;
}


.tourdate-heading {
    margin: 15px;
    font-weight: bolder;
    font-size: 15px;
}

.tourdate-time {
    margin: 15px;
    opacity: 0.6;
}

.tourdate-note {
    margin: 15px;
    
}


.modal.open {
    display: flex;
}
.modal {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    align-items:center ;
    justify-content: center;
    display: none;
    
}

.modal-container {
    min-height: 200px;
    background-color: #fff;
    width: 900px;
    position: relative;
    animation: modalFadeIn ease 0.5s;
}

header.modal-header {
    height: 140px;
    background-color: #009688;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: 400;
    color: #fff;
    letter-spacing: 4px;
}

.modal-container .modal-close {
    position: absolute;
    right: 0;
    top: 0;
    
    color: #fff;
    padding: 12px;
}

.modal-container .ti-bag {
    margin-right: 16px;
}

.modal-close:hover {
    color: #000;
    background-color: #ccc;
    cursor: pointer;
}

.modal-body {
    padding: 16px 16px 0 16px;
}

.modal-label {
    display: block;
    margin-bottom: 12px;
}

input.modal-input {
    width: 100%;
    font-size: 15px;
    padding: 8px;
    margin-bottom: 24px;
}

button#buy-buttom {
    width: 100%;
    background-color: #009688;
    border: none;
    padding: 16px;
    color: #fff;
    font-size: 15px;
    border: none;
}

#buy-buttom:hover {
    color: #000;
    background-color: #ccc;
    cursor: pointer;
}

p.help {
    padding: 30px 16px 30px 16px;
    text-align: right;
}

.contact-content {
    margin-top: 32px;
}

.contact-info {
    text-align: left;   
    line-height: 1.5;
    font-size: 18px;
}

.contact-info i[class*="ti-"] {
    width: 30px;
    display: inline-block;
}

.contact-form .form-control {
    width: 100%;
    font-size: 15px;
    padding: 9px;
    border: 1px solid #ccc!important;
}

.contact-form .form-submit {
    background-color: black;
    color: white;
    float: right;
    border: 1px solid #ccc!important;
    padding: 10px 15px;
}

.contact-form.form-submit::hover {
    color: #000;
    background-color: #ccc;
}

.map-section img{
    width: 100%;
}



/*
    PC: >= 1024px;
    Table: >= 740px & <1024px
    Mb: <740px
*/

@keyframes modalFadeIn {
    from {
        transform: translateY(-100px);
    }

    to {
        transfrom: translateY(0px)
    }
}
